/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
	background-color:rgba(199,176,177,0.3);
}
.i1 {
	height: 180px;
	width: 100%;
}

header {
    background-color:Gray;
    color: #fff;
    padding: 30px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

header h1 {
    margin: 0;
    font-size: 30px;
	margin-bottom:20px;
	margin-top:20px;
	font-family:"Lucida Calligrophy";
}
p{
	font-family:"Bell-MT";
	font-size:15px;
}
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 40px 0;
}

h2 {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.about {
	left:10%;
	right:10%;
	top:5%;
	background-color:cyan;
}
.vl {
  border: 5px solid LightGray;
  height: 150px;
}

